# Nobel Prize Winners Dataset
## Importing LIbraries required
### Importing pandas and numpy

In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv(r"C:\Users\devan\Downloads\Random\SDnobel.csv")
df.head()

,Unnamed: 0,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,...,organization_city,organization_country,death_date,death_city,death_country,usa_born_winner,decade,female,age,age_group
0,0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,...,Berlin,Germany,1911-03-01,Berlin,Germany,False,1900,False,49.0,Adult
1,1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,...,NaN,NaN,1907-09-07,Châtenay,France,False,1900,False,62.0,Adult
2,2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,...,Marburg,Germany,1917-03-31,Marburg,Germany,False,1900,False,47.0,Adult
3,3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,...,NaN,NaN,1910-10-30,Heiden,Switzerland,False,1900,False,73.0,Senior
4,4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,...,NaN,NaN,1912-06-12,Paris,France,False,1900,False,79.0,Senior

### Checking for null values

In [3]:
df.isnull().sum()

Unnamed: 0                0
year                      0
category                  0
prize                     0
motivation               88
prize_share               0
laureate_id               0
laureate_type             0
full_name                 0
birth_date               28
birth_city               28
birth_country            26
sex                      26
organization_name       246
organization_city       244
organization_country    244
death_date              318
death_city              335
death_country           329
usa_born_winner           0
decade                    0
female                    0
age                      28
age_group                 0
dtype: int64

### Checking info

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            911 non-null    int64
 1   year                  911 non-null    int64
 2   category              911 non-null    object
 3   prize                 911 non-null    object
 4   motivation            823 non-null    object
 5   prize_share           911 non-null    object
 6   laureate_id           911 non-null    int64
 7   laureate_type         911 non-null    object
 8   full_name             911 non-null    object
 9   birth_date            883 non-null    object
 10  birth_city            883 non-null    object
 11  birth_country         885 non-null    object
 12  sex                   885 non-null    object
 13  organization_name     665 non-null    object
 14  organization_city     667 non-null    object
 15  organization_country  667 non-null    object
 16  death_date            593 non-null    object
 17  death_city            576 non-null    object
 18  death_country         582 non-null    object
 19  usa_born_winner       911 non-null    bool
 20  decade                911 non-null    int64
 21  female                911 non-null    bool
 22  age                   883 non-null    float64
 23  age_group             911 non-null    object
dtypes: bool(2), float64(1), int64(4), object(17)
memory usage: 158.5+ KB

### Checking Statistical Summary

In [5]:
df.describe()

       Unnamed: 0         year  laureate_id       decade         age
count  911.000000   911.000000   911.000000   911.000000  883.000000
mean   455.000000  1969.201976   462.515917  1964.698134   59.453001
std    263.127346    32.837978   270.236159    32.998368   12.399290
min      0.000000  1901.000000     1.000000  1900.000000   17.000000
25%    227.500000  1946.000000   228.500000  1940.000000   50.000000
50%    455.000000  1975.000000   457.000000  1970.000000   60.000000
75%    682.500000  1997.000000   698.500000  1990.000000   69.000000
max    910.000000  2016.000000   937.000000  2010.000000   90.000000

### Number for rows and columns

In [6]:
df.shape

(911, 24)

In [7]:
len(df)

911

### Column Names

In [8]:
df.columns

Index(['Unnamed: 0', 'year', 'category', 'prize', 'motivation', 'prize_share',
       'laureate_id', 'laureate_type', 'full_name', 'birth_date', 'birth_city',
       'birth_country', 'sex', 'organization_name', 'organization_city',
       'organization_country', 'death_date', 'death_city', 'death_country',
       'usa_born_winner', 'decade', 'female', 'age', 'age_group'],
      dtype='object')

### Removing a row and checking shape

In [9]:
df.drop(9, inplace= True)

In [10]:
df.head(10)

,Unnamed: 0,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,...,organization_city,organization_country,death_date,death_city,death_country,usa_born_winner,decade,female,age,age_group
0,0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,...,Berlin,Germany,1911-03-01,Berlin,Germany,False,1900,False,49.0,Adult
1,1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,...,NaN,NaN,1907-09-07,Châtenay,France,False,1900,False,62.0,Adult
2,2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,...,Marburg,Germany,1917-03-31,Marburg,Germany,False,1900,False,47.0,Adult
3,3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,...,NaN,NaN,1910-10-30,Heiden,Switzerland,False,1900,False,73.0,Senior
4,4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,...,NaN,NaN,1912-06-12,Paris,France,False,1900,False,79.0,Senior
5,5,1901,Physics,The Nobel Prize in Physics 1901,"""in recognition of the extraordinary services ...",1/1,1,Individual,Wilhelm Conrad Röntgen,1845-03-27,...,Munich,Germany,1923-02-10,Munich,Germany,False,1900,False,56.0,Adult
6,6,1902,Chemistry,The Nobel Prize in Chemistry 1902,"""in recognition of the extraordinary services ...",1/1,161,Individual,Hermann Emil Fischer,1852-10-09,...,Berlin,Germany,1919-07-15,Berlin,Germany,False,1900,False,50.0,Adult
7,7,1902,Literature,The Nobel Prize in Literature 1902,"""the greatest living master of the art of hist...",1/1,571,Individual,Christian Matthias Theodor Mommsen,1817-11-30,...,NaN,NaN,1903-11-01,Charlottenburg,Germany,False,1900,False,85.0,Senior
8,8,1902,Medicine,The Nobel Prize in Physiology or Medicine 1902,"""for his work on malaria, by which he has show...",1/1,294,Individual,Ronald Ross,1857-05-13,...,Liverpool,United Kingdom,1932-09-16,Putney Heath,United Kingdom,False,1900,False,45.0,Adult
10,10,1902,Peace,The Nobel Peace Prize 1902,NaN,1/2,465,Individual,Charles Albert Gobat,1843-05-21,...,NaN,NaN,1914-03-16,Bern,Switzerland,False,1900,False,59.0,Adult

In [11]:
df.shape

(910, 24)

### Drop null values

In [12]:
df.drop

<bound method DataFrame.drop of      Unnamed: 0  year    category  \
0             0  1901   Chemistry
1             1  1901  Literature
2             2  1901    Medicine
3             3  1901       Peace
4             4  1901       Peace
..          ...   ...         ...
906         906  2016    Medicine
907         907  2016       Peace
908         908  2016     Physics
909         909  2016     Physics
910         910  2016     Physics

                                              prize  \
0                 The Nobel Prize in Chemistry 1901
1                The Nobel Prize in Literature 1901
2    The Nobel Prize in Physiology or Medicine 1901
3                        The Nobel Peace Prize 1901
4                        The Nobel Peace Prize 1901
..                                              ...
906  The Nobel Prize in Physiology or Medicine 2016
907                      The Nobel Peace Prize 2016
908                 The Nobel Prize in Physics 2016
909                 The Nobel Prize in Physics 2016
910                 The Nobel Prize in Physics 2016

                                            motivation prize_share  \
0    "in recognition of the extraordinary services ...         1/1
1    "in special recognition of his poetic composit...         1/1
2    "for his work on serum therapy, especially its...         1/1
3                                                  NaN         1/2
4                                                  NaN         1/2
..                                                 ...         ...
906  "for his discoveries of mechanisms for autophagy"         1/1
907  "for his resolute efforts to bring the country...         1/1
908  "for theoretical discoveries of topological ph...         1/2
909  "for theoretical discoveries of topological ph...         1/4
910  "for theoretical discoveries of topological ph...         1/4

     laureate_id laureate_type                     full_name  birth_date  ...  \
0            160    Individual  Jacobus Henricus van 't Hoff  1852-08-30  ...
1            569    Individual               Sully Prudhomme  1839-03-16  ...
2            293    Individual        Emil Adolf von Behring  1854-03-15  ...
3            462    Individual             Jean Henry Dunant  1828-05-08  ...
4            463    Individual                Frédéric Passy  1822-05-20  ...
..           ...           ...                           ...         ...  ...
906          927    Individual              Yoshinori Ohsumi  1945-02-09  ...
907          934    Individual            Juan Manuel Santos  1951-08-10  ...
908          928    Individual             David J. Thouless  1934-09-21  ...
909          929    Individual          F. Duncan M. Haldane  1951-09-14  ...
910          930    Individual         J. Michael Kosterlitz  1943-06-22  ...

    organization_city      organization_country  death_date death_city  \
0              Berlin                   Germany  1911-03-01     Berlin
1                 NaN                       NaN  1907-09-07   Châtenay
2             Marburg                   Germany  1917-03-31    Marburg
3                 NaN                       NaN  1910-10-30     Heiden
4                 NaN                       NaN  1912-06-12      Paris
..                ...                       ...         ...        ...
906             Tokyo                     Japan         NaN        NaN
907               NaN                       NaN         NaN        NaN
908       Seattle, WA  United States of America         NaN        NaN
909     Princeton, NJ  United States of America         NaN        NaN
910    Providence, RI  United States of America         NaN        NaN

    death_country usa_born_winner decade female   age  age_group
0         Germany           False   1900  False  49.0      Adult
1          France           False   1900  False  62.0      Adult
2         Germany           False   1900  False  47.0      Adult
3     Switzerland           False   1900  False  73.0     Senior
4          France           False   1900  False  79.0     Senior
..            ...             ...    ...    ...   ...        ...
906           NaN           False   2010  False  71.0     Senior
907           NaN           False   2010  False  65.0     Senior
908           NaN           False   2010  False  82.0     Senior
909           NaN           False   2010  False  65.0     Senior
910           NaN           False   2010  False  73.0     Senior

[910 rows x 24 columns]>